@import "tailwindcss";


@theme {
  --color-primary-black: #1B1B1B;
  --color-primary-orange: #FF733C;
  --color-white: #fff;
  --color-primary-gray-blue: #5A698C;
  --color-primary-green: #32BE50;
  --color-primary-gray: #545454;
}


body {

  font-family: Arial, Helvetica, sans-serif;
}